<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
</head>
<body>
    <div><strong>{{ titulo }}</strong></div>
    <div>
        <strong>
            Privacidad de los datos personales:
        </strong>
            Social Bot - Programación es responsable de no revelar ninguna clase de información que le pertenezca (como email, números de ip, etc.),
            salvo su expresa autorización o fuerzas de naturaleza mayor de tipo legal que lo involucren,
            como hackeos o suplantaciones.
    </div>
<div>
    <strong>
        Uso de la información:
    </strong>
    Al usar la aplicación Social Bot - Programación, esta de acuerdo con el uso de sus datos personales,
    nos autoriza para el siguiente uso de su información:
    a) Para un manejo estadístico sobre el género de usuarios y otros datos personales que
    ayudarán a la mejora contínua de Social Bot - Programación dentro de Facebook Messenger.

</div>
</body>
</html>